html, body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0; 
    height: 100%;
    background: rgb(12,28,105);
    background: radial-gradient(circle, rgba(12,28,105,1) 0%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
