.footer {
    display: flex;
    background-color: transparent;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: lightyellow;
    margin-top: 20px;
    height: 40px;
    font-family: sans-serif;
    overflow: hidden;
}
